@model waBiblioteca.LOG_LIBRO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LOG_LIBRO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LIBRO.NOM_LIBRO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LIBRO.NOM_LIBRO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIO.NOM_USUAR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO.NOM_USUAR)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDD_LOG_LIBRO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
