<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Style/Index.css">
    <script src="https://kit.fontawesome.com/6d642dc6ea.js" crossorigin="anonymous"></script>
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container" style="width:100%">
        <header class="header">
            <div class="header__title">
                <h1 class="title">GENIUS. <strong class="title__library">PUBLISHERS</strong></h1>
            </div>
            <nav class="header__nav">
                <div class="nav__links_session">
                    <ul class="session__list">
                        @*<li class="list__item"><a href="#" class="items">@Html.ActionLink("Login", "Index", "Login")</a></li>*@
                        <li class="list__item"><a class="btn" style="color: white; background-color: #394465" href="@Url.Action("Index", "Login")">Login</a></li>
                        <li class="list__item"><a href="#" class="items"><i class="fa-solid fa-circle-user icon"></i></a></li>
                    </ul>
                </div>
            </nav>
        </header>
    </div>
    
    <div class="container" style="width:100%">
        @RenderBody()
    </div>
    <div class="container" style="width:100%">
        <hr />
        <footer class="footer">
            <ul class="footer__list">
                <li class="list__item mister">BINK. Publishers</li>
                <li class="list__item">500 Terry Francois St.</li>
                <li class="list__item">San Francisco, CA 94158</li>
                <li class="list__item">123-456-7890</li>
                <li class="list__item">info@my-domain.com</li>
            </ul>
            <ul class="footer__list">
                <li class="list__item mister">Shop</li>
                <li class="list__item">FAQ</li>
                <li class="list__item">Shipping & Returns</li>
                <li class="list__item">Store Policy</li>
                <li class="list__item">Payment Methods</li>
            </ul>
            <ul class="footer__list">
                <li class="list__item mister">Socials</li>
                <li class="list__item">Facebook</li>
                <li class="list__item">Twitter</li>
                <li class="list__item">Instagram</li>
                <li class="list__item">Pinterest</li>
            </ul>
            <ul class="footer__list">
                <li class="list__item mister">Be the First to Know</li>
                <li class="list__item">Sign up for our newsletter</li>
                <li class="list__item"><input type="email" class="item__email" placeholder="Enter your email here*"></li>
                <li class="list__item"><input type="button" class="item__button" value="Subscribe"></li>
            </ul>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
